<div class="page-header">
    <h1>Vendas</h1>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Valor:</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{calcula() | currency}}</p>
    </div>
  </div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Descriçao</th>            
            <th>Valor</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="produto in produtos | filter:busca">
            <td>{{produto.nome}}</td>
            <td>{{produto.descricao}}</td>

            <td>{{produto.valorbase | currency}}</td>
            <td><input type="checkbox" ng-model="produto.venda"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"><a class="btn btn-default" ui-sref="produtos.novo" title="Adicionar produto"><i class="glyphicon glyphicon-plus"></i></a></td>
        </tr>
    </tfoot>
</table>
