<div class="page-header">
    <h1>Vendas</h1>
</div>
produto: {{produto.nome}}
<div ng-show="isLoading" class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>
<div class="row">
    <div class="col-md-2">Total:</div>
    <div class="col-md-10">{{calcula() | currency}}</div>
</div>
<div class="row">
    <div class="col-md-2">Valor Pago:</div>
    <div class="col-md-10"><input type="text" name="pago" ng-model="valorpago" /></div>
</div>
<div class="row">
    <div class="col-md-2">Troco:</div>
    <div class="col-md-10">{{valorpago - calcula() | currency}}</div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <table ng-if="pedido.length > 0" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Produto</th>          
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ped in pedido">
                    <td>{{ped.nome}}</td>
                    <td>{{ped.valorbase| currency}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Valor final:</td>
                    <td>{{calcula() | currency}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<h4><input type="text" ng-model="busca" placeholder="Busca: Digite um termo" /></h4>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Descriçao</th>            
                    <th>Valor</th>
                    <th>Adicionar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="produto in produtos| filter:busca"   ng-animate="'animate'">
                    <td>{{produto.nome}}</td>
                    <td>{{produto.descricao}}</td>

                    <td>{{produto.valorbase| currency}}</td>
                    <td><input type="checkbox" ng-model="produto.add"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><a class="btn btn-default" ui-sref="produtos.novo" title="Adicionar produto"><i class="glyphicon glyphicon-plus"></i></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>